.mine {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 36px;
  height: 54px;
  background-color: #f5f6f7;
  border-bottom: var(--Border);
}
.side {
  flex: 1;
  width: 239px;
  height: 100%;
  background-color: #f5f6f7;
  padding: 24px 12px;
  box-sizing: border-box;
}
